@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

li,
a {
    font-weight: 500;
    font-size: 16px;
    color: #31353b;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    border-bottom: 1px solid #b3b5b8;
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
}

.logo {
    width: 330px;
    cursor: pointer;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #5271ff;
}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 130px;
}

.intro img {
    width: 90%;
    border-radius: 10px;
    box-shadow: 1px 1px 10px -2px rgba(0, 0, 0, 0.75);
}

.container-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    background-color: #5271ff;
    padding: 30px;
    border-radius: 50px 50px 0px 0px;
}

.box-title {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}

.container-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
    background-color: #fff;
    border: 2px solid #5271ff;
    padding: 30px;
    border-radius: 10px;
}

.artikel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 150px;
}

.text-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text-title h1 {
    font-size: 40px;
    font-weight: 700;
    color: #31353b;
}

.text-title p {
    font-size: 20px;
    color: #838588;
}

.text-title .btn-add {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.text-title .btn-add a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: #5271ff;
    color: #fff;
    border-radius: 10px;
    transition: all 0.3s ease 0s;
}

.text-title .btn-add a:hover {
    background-color: rgb(205, 187, 187);
    color: #fff;
}

.column {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 400px 400px; /*Make the grid smaller than the container*/
    gap: 100px;
    padding: 10px;
    margin-top: 50px;
}

.column .card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    border: 2px solid #5271ff;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
}

.column .card:hover {
    background-color: #5271ff;
    color: #fff;
}

.column-artikel {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 400px 400px 400px; /*Make the grid smaller than the container*/
    gap: 100px;
    padding: 10px;
    margin-top: 50px;
}

.column-artikel .card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    border: 2px solid #5271ff;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
}

.column-artikel .card:hover {
    background-color: #5271ff;
    color: #fff;
}

.edit-tidakTertarik {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.edit {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.edit i {
    font-size: 22px;
    color: #000;
    margin-right: 10px;
}

.edit i:hover {
    color: #fff;
}

.btn-tidakTertarik {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 50px;
}

.btn-tidakTertarik button {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background-color: #df2323;
    padding: 10px 20px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

.btn-tidakTertarik button:hover {
    background-color: #abb3ac;
}

.see-more {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.see-more a {
    font-size: 17px;
    padding: 0 10px;
}

.see-more img {
    width: 20px;
    cursor: pointer;
}

.see-more a:hover {
    color: #5271ff;
}

.logo-artikel {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.logo-artikel img {
    width: 500px;
}

.container-edit {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.form-edit {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

fieldset {
    border: 2px solid #5271ff;
    border-radius: 10px;
    padding: 20px;
}

legend {
    font-size: 20px;
    font-weight: 600;
    color: #31353b;
    margin: 20px 38%;
}

.legend-detail {
    font-size: 26px;
    font-weight: 600;
    color: #31353b;
}

.logo-edit {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-edit img {
    width: 500px;
}

label {
    font-size: 20px;
    font-weight: 600;
    color: #31353b;
    margin-top: 20px;
}

textarea {
    width: 100%;
    height: 100px;
    border: 2px solid #5271ff;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    color: #31353b;
}

input {
    width: 100%;
    padding: 10px;
    border: 2px solid #5271ff;
    border-radius: 10px;
    margin-top: 10px;
    transition: all 0.3s ease-in-out;
}

.btn-send input:hover {
    background-color: #5271ff;
    color: #fff;
}

.container-table {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    flex-direction: column;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: center;
    width: 100%;
}

.styled-table th,
.styled-table td {
    padding: 16px 50px;
    text-align: center;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #5271ff;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #5271ff;
}

.styled-table a {
    color: #fff;
    font-weight: 600;
    background-color: #009879;
    /* padding: 8px 14px; */
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

/* footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    padding: 20px 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .footer-logo img {
    width: 300px;
}
